html, body, div{
    padding: 0;
    margin: 0;
}

html, body{
    width: 100%;
    height: 100%;
}

#canvas {
    /*width: 500px;*/
    /*height: 500px;*/
}

#not-supported{
    padding-top: 45px;
    width: 100%;
    height: 100%;
    display: none;
    color: #fff;
}

a{
    color: #3f6;
}